.root{ /*Al principio siempre se coloca el COMO SE VERÁ*/

    /*APARIENCIA*/
    max-width: 40rem;
    height: 100vb;
    border: 1px solid black;
    /*border-radius: 5px; /*El radio siempre es recomendable usarlo en px*/


    /*POSICIÓN Y POSICIÓN DE HIJOS*/
    margin: auto;
    padding: 1rem;
    padding-top: 2rem;

    /*COMPORTAMIENTO*/
}

.root > h1 { /*Especificamente el hijo que esta adentro y no los demas h1 (nietos ni bisnietos)*/
    font-size:3rem;
    text-align: center;
    color:var(--color-texto);
    margin-bottom: 2rem;
}

.bt-todo {
    border: 0; /*recetear */
    background-color: rgb(238, 118, 97);
    width: 6rem;
    height: 6rem;
    border-radius: 100%;


    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem;

    /* Sirve mas para compu cursor: pointer; */

/*Centrar los hijos (p) es un hijo*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt-todo > span{
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

/*DISEÑO DE MODAL*/
.modal{
    width: 20%;
    height: 14rem;
    background-color: rgb(240, 188, 188);

    position: absolute;
    /*Si todo esta acer se pone en el centro*/
    top:0; 
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 10px 5px 5px black;
    margin: auto;
    padding: 2rem;

    cursor: pointer;
    display: none; /*Existe pero se oculta la caja*/
    
}

.entrada{
    padding: 2rem;
    width: 100%;
    height: 4rem;
}

.bt-tarea{
    margin: auto;
    margin-top: 1rem;
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ekis{    
    font-size: 200%;
}

/*******************************/
.activar{
    display: block;
}

.todo_item{
    display: flex;
    justify-content: space-between;
}

.tachar{
   text-decoration:line-through;
}